<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/styleTest.css">
        <title>Subject</title>
    </head>

    <body>
        <div class="container">
            <div class="centerDiv">
            <h1 class="welcome">Save Subject</h1>
            <div class="card">
                <form id="form">
                    <div class="form-container">
                        <div class="form-text-container"><label for="id" class="label-text">ID:</label></div>
                        <input type="text" id="id" name="id" class="inputInfo">
                    </div>
                    <div class="form-container">
                        <div class="form-text-container"><label for="abbreviation" class="label-text">Abbreviation:</label></div>
                        <input type="text" id="abbreviation" name="abbreviation" class="inputInfo">
                    </div>
                    <div>
                        <div class="form-text-container"><label for="teacher" class="label-text">Teacher:</label></div>
                        <input type="text" id="teacher" name="teacher" class="inputInfo">
                    </div>
                    <div>
                        <input type="submit" value="Save" class="btn-submit">
                    </div>
                </form>
                <button onclick="window.location.href = '../../main.html';" class="btn-submit">Back</button>
            </div>
        </div>
        </div>
        <script src="../js/connectSubject.js"></script>
    </body>
</html>