<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleTest.css">
    <title>Main</title>
</head>
<body>
    <div class="container">
        <div class="centerDiv">
        <h1 class="welcome">Project manager</h1>
        <div class="card">
            <h2 class="logInText">Choose</h2>
            <button onclick="window.location.href = 'saveorupdate/html/project.html';" class="btn-submit">Project</button>
            <button onclick="window.location.href = 'saveorupdate/html/subject.html';" class="btn-submit">Subject</button>
        </div>
    </div>
    </div>
</body>
</html>